
img.big_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

div.center {
    margin: auto;
    text-align: center;
    background-color: white;
}

div.container {
    width: 60%;
    margin: auto;
    background-color: white;
}

div.stats_container {
    padding-left: 300px;
}

table.stats_outer {
    vertical-align: top;
}

table.stats {
}

.stats_outer td {
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}

.stats th {
    text-align: left;
    padding-left: 10px;
}

.stats td {
    padding-left: 20px;
}

