
body {
    margin: 0;
    padding: 0;
}

div.center {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    background-image: url("background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}


div.container {
    width: 50%;
    margin: auto;
    background-color: #383c4a;
    min-height: 100vh;
}

div.stats_container {
    padding-left: 300px;
}

img.big_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

table.stats_outer {
    vertical-align: top;
}

table.stats {
}

.stats_outer td {
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}

.stats th {
    text-align: left;
    padding-left: 10px;
}

.stats td {
    padding-left: 20px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.menu {
    margin: auto;
    padding: 2px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    text-align: center;
    padding: 6px 4px;
    text-decoration: none;
    color: gray;
}

.menu li a:hover {
    color: black;
}

