{% extends 'testapp/base.html' %}
{% load static %}

{% block content %}
    <h1>S T A T S</h1>

    <img src="{{ avatar }}">
    <h2>{{ personaname }}</h2>

    <table style="display: inline-block;">
        <tr>
            <th style="text-align: left">Stats</th>
        </tr>
        {% for key, value in stats.items %}
        <tr>
            <td>{{ key }}</td>
            <td style="text-align: right">{{ value }}</td>
        </tr>
        {% endfor %}
    </table> 
    <table style="float: right;">
        <tr>
            <th style="text-align: left">Achievements</th>
        </tr>
        {% for key, value in achievements.items %}
        <tr>
            <td>{{ key }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
